[Unit]
Description=doorbell
After=network.target

[Service]
User=root
Environment="MPD_HOST={{ groups.music_servers[0] }}"
ExecStart=/opt/doorbell/doorbell

[Install]
WantedBy=default.target
