[Unit]
Description=doorbell
After=network.target

[Service]
User=root
Environment="MPD_HOST={{ groups.music_servers[0] }}"
ExecStart=/usr/bin/python /opt/doorbell/pi/doorbell.py

[Install]
WantedBy=default.target
