[Unit]
Description=doorbell
After=network.target

[Service]
User=root
Environment="MPD_HOST={{ groups.music_servers[0] }}"
ExecStart=/opt/doorbell/doorbell \
  -influxdbaddr={{ influxdb.address }} \
  -influxdbauth={{ influxdb.username }}:{{ influxdb.token }} \
  -influxdbname={{ influxdb.dbname }}

[Install]
WantedBy=default.target
